/* styling for nav bar */
.logout {
    font-family: 'Artifika', serif;

}

#name-app {
    font-family: 'Artifika', serif;
	font-size: 40px;
	font-weight: 900
}

#nav-image {
    width: 90px;
}

#nav-bar {
    background-color: #176d88;
}

