.post-container {
    max-height: 100vh;
}

.post-content{
    font-family: 'Artifika', serif;
    font-size: 1rem
}

.profile-icon {
    width: 7%
}

.author{
    color: rgb(7, 83, 206)
}

.card-title {
    color: #176d88;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Artifika', serif;

}

#modalTitle {
	color: #176d88;
}

.open-comment:hover {
    background: rgba(200, 198, 198, 0.349)
}

.post-photo{
    max-width:50%
}

.category {
    float:right
}

.posted {
    float:left
}

.last-updated {
    float: left
}