/* This component is for Edit or View my Profile  */
.btn-edit{
    background: #5dc3d0;
    color: whitesmoke; 
    width: 25%;
    font-weight: bold;
}

.profile-view {
    width:100px;
    height: 100px;
}

.card-title {
    color: #176d88;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Artifika', serif;
}

.title-for-form, .btn-edit, .btn-success, .btn-secondary {
    font-family: 'Artifika', serif;
}